<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight Blog</title>
  <meta charset='utf-8'>
  <meta name="google-site-verification" content="YBxTWCsF7NumqEi-_IkfMvp4F61RxGpQ19ElYC27UEE" />
  <%= stylesheet_link_tag    "blogger/application", :media => "all" %>
  <%= javascript_include_tag "blogger/application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="content">
  	<div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
