<div class="blog-item">
  <h1>
    <%= link_to article.title, article_path(article) %>
  </h1>

  <div class="col-md-12 blog-img blog-tag-data">
    <ul class="list-inline">
      <li><%= user_mini_avatar(article.author) %> <%= link_to user_name(article.author), blogger.articles_path(author_id: article.author_id) %></li>
      <li><i class="fa fa-calendar"></i> <a href="#"><%= local_time(article.publish_date || article.created_at) %></a></li>
      <li><i class="fa fa-comments"></i> <a href="#"><%= "#{article.blog_comments_count} Comments" %></a></li>
      <% if current_user && current_user.id == article.author_id %>
        <li><i class="fa fa-edit"></i><%= link_to "Edit Article", blogger.edit_article_path(article) %></li>
    <% end %>
    </ul>
  </div>

  <div class="blog-article">
    <p><%= sanitize article.content %></p>
    <% if params[:action] != "show" %>
      <%= link_to article_path(article), class: "btn blue pull-right" do %>
        Read more 
        <i class="m-icon-swapright m-icon-white"></i>
      <% end %>
    <% end %>
  </div>

  <!--div class="col-md-12 blog-img blog-tag-data">
    <ul class="list-inline blog-tags">
      <li>
        <i class="fa fa-tags"></i> 
        <a href="#">Technology</a> 
        <a href="#">Education</a>
        <a href="#">Internet</a>
      </li>
    </ul>
  </div-->

 </div>