<div class="form">
  <%= simple_form_for @article, html: {class: 'horizontal-form'}, validate: true do |f| %>
    <%= f.error_notification %>
    <%= f.error :base, :error_method => :to_sentence %>

    <div class="form-body">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :title %>
          <%= f.input :content, as: :text, label: false, input_html: { class: "wysihtml5 form-control", rows: "10" } %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Kaydet", class: "btn btn-success" %>
      <%#= f.submit "Kaydet & Yayımla", class: "btn btn-success " %>
    </div>
  <% end %>
</div>
